spring:
    application:
        name: ddd_sample
    datasource:
        url: jdbc:postgresql://db:5432/db
        username: user
        password: password
    jpa:
        hibernate:
            ddl-auto: validate
    jackson:
        property-naming-strategy: SNAKE_CASE
springdoc:
    default-consumes-media-type: application/json
    default-produces-media-type: application/json
server:
    port: 8080